
.putarloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://4.bp.blogspot.com/-c4GvJiJCBrM/W9GGf494ZeI/AAAAAAAAA3w/Nn-o9qCZOxcINAEfcEc8Tf-Eszs3kYvEACLcBGAs/s1600/138.gif') 50% 50% no-repeat rgb(249,249,249);
}
  
}
