

#atashalaman {
  display: none;
  
  bottom: 25px;
  Right: 10px;
  z-index: 99;
  Position: fixed;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#atashalaman:hover {
  background-color: #555;
}

#bersihalaman {
  
  bottom: 10px;
  Right: 10px;
  z-index: 99;
  Position: fixed;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#bersihalaman:hover {
  background-color: #555;
}


